
<section id="about">
    <div class="cajas">
      <div class="caja1">
        <h3>Desarrollo con pasión aplicaciones y sitios web para personas</h3>
        <p>Me encuentro estudiando la carrera Certified Tech Developer by Mercado Libre, Globant y Digital House. Desarrollo aplicaciones por placer. Esta web la construí desde cero con Python y Flask! Y quiero conocer aun más de este mundo.</p>
      </div >
      <div class="caja2">
    <h3>Podemos conversar lo que quieras!</h3>
    <p>Solo envíame un correo <a class='orange' href='#contacto'>pinchando aquí</a></p>
      </div>
    </div>  
</section>
