
<section id="portfolio">
            <div class="Port">
                <h3>No estas convencido? Mira lo que he construído!</h3>
            </div>
            <div class="third">
                <div class='card'>
                    <h3>Mailer App</h3>
                    <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
                    <a class='orange' target='_blank' href='https://pythonprimer.herokuapp.com/'>Link Aquí</a>
                </div>
    
                <div class='card'>
                    <h3>Gestor de Clientes</h3>
                    <p>Una aplicación para gestionar mis clientes.</p>
                    <a class='orange' href='{{ url_for('static', filename='gestorClientes.exe') }}'>Link Aquí</a>
                  </div>
                  <div class='card'>
                    <h3>Gestor de Tareas</h3>
                    <p>Una aplicación para gestionar mis tareas.</p>
                    <a class='orange' href='{{ url_for('static', filename='gestorTareas.exe') }}'>Link Aquí</a>
                  </div>
            </div>
            </section>
      